.wrapper {
  width: min(100%, var(--max-w-container));
  margin: var(--wrapper-margin);
  margin-top: 0;
  display: flex;
  justify-content: center;
  /* !!!!!! Summa (Remove before final) !!!!!! */
  margin-top: -256px;
  /* !!!!!! Summa (Remove before final) !!!!!! */
  /* box-shadow: var(--bg-shadow); */
  border-radius: 13px 13px 24px 24px;
  border: 1px solid var(--color-gray-200);
  position: relative;
}

.gradientWrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    /* rgba(10, 10, 10, 1) 25%,
    rgba(10, 10, 10, 0) 100% */
      rgb(200, 200, 200) 25%,
    rgba(169, 169, 169, 0) 100%
  );
}

.wrapper:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -45deg,
    rgba(10, 10, 10, 1) 50%,
    rgba(10, 10, 10, 1) 50%
  );
  transform: translate3d(0px, 0px, 0) scale(1.15);
  filter: blur(100px);
  opacity: 0.75;
  transition: opacity 0.3s;
  border-radius: inherit;
}

.wrapper::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.sectionWrapper {
  width: 100%;
}
