.wrapper {
  min-width: 100%;
  background-position: top 60px center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-top: 152px;
  z-index: 1;
  position: relative;
}

.backgroundGradiant {
  pointer-events: none;
  position: absolute;
  top: -150px;
  width: 100%;
  height: 100%;
  opacity: 0.018;
}

.headContent {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;

  /* !!!!!! Summa (Remove before final) !!!!!! */
  margin-bottom: 256px;
  /* !!!!!! Summa (Remove before final) !!!!!! */
}

.heading {
  font-weight: var(--font-heavy);
  font-size: 56px;
  max-width: 860px;
  line-height: 1.1;
  text-align: center;
  color: var(--white);
}

.italic {
  font-style: italic;
}

.name {
  color: var(--color-text-highlight);
}

.description {
  text-align: center;
  max-width: 524px;
  font-size: 18px;
  line-height: 1.4;
  color: var(--color-gray-400);
}

.contactBtn {
  background-color: var(--color-accent);
  color: var(--white);
  font-weight: 400;
  border: none;
  padding: 12px 24px;
  letter-spacing: 1.1px;
  border-radius: 4px;

  /* !!!!!! Hidden !!!!!! */
  visibility: hidden;
}

.gradientMerger {
  width: 100%;
  background: rgb(10, 10, 10);
  background: linear-gradient(
    360deg,
    rgba(10, 10, 10, 1) 25%,
    rgba(10, 10, 10, 0) 100%
  );
  height: 108px;
}
