.wrapper {
  padding: 24px;
  border: 1px solid var(--color-gray-300);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.25 ease;
}

.wrapper:hover {
  box-shadow: 0 0 6px var(--white);
}

.projectImg {
  border-radius: 10px;
  overflow: hidden;
}

.projectDetails {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 4px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.projectInfo .stack {
  display: flex;
  gap: 12px;
  font-size: 20px;
}

.projectDetails h1 {
  color: var(--color-gray-500);
  font-size: 1rem;
}

.projectCodebase {
  font-size: 20px;
  opacity: 0.7;
  align-self: flex-end;
}

.projectCodebase:hover {
  opacity: 1;
}
