.wrapper {
  --space: 32px;
  margin: var(--wrapper-margin);
  max-width: var(--max-w-container);
  background-color: var(--color-gray-100);
  border-radius: 24px;
  padding: 32px;
  margin: var(--wrapper-margin);
  border: 1px solid var(--color-gray-200);
  position: relative;
}

.wrapper:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -45deg,
    rgba(10, 10, 10, 1) 50%,
    rgba(10, 10, 10, 1) 50%
  );
  transform: translate3d(0px, 0px, 0) scale(1.15);
  filter: blur(100px);
  opacity: 0.75;
  transition: opacity 0.3s;
  border-radius: inherit;
}

.wrapper::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
.sectionHeading {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionTitle {
  font-size: 64px;
  font-weight: var(--font-bold);
  font-style: italic;
}

.sectionHeading h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

.gridWrapper {
  margin-top: 52px;
  display: grid;
  grid-template-areas:
    "main techStack languages"
    "main objective objective";
  gap: var(--space);
  color: var(--color-gray-500);
}

.gridItems {
  background-color: var(--color-gray-200);
}

.italic {
  font-style: italic;
}
/* padding: var(--space) var(--space); */
/* border-radius: 24px; */
/* background-color: var(--color-bg-card); */
/* backdrop-filter: blur(var(--bg-blur)); */

.main {
  grid-area: main;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: var(--space);
  align-items: center;
  padding: var(--space);
  border-radius: 24px;
  color: var(--white);
  width: 100%;
}

.profileImg {
  width: 140px;
  border-radius: 50%;
}

.techStack {
  grid-area: techStack;
  padding: var(--space);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages {
  grid-area: languages;
  padding: var(--space);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.objective {
  grid-area: objective;
  padding: var(--space);
  border-radius: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.objective p {
  font-size: 1.3rem;
  line-height: 1.4;
}

/* Mobile */
@media (max-width: 640px) {
  .gridWrapper {
    display: flex;
    flex-direction: column;
  }
}
