.wrapper {
  margin-top: 52px;
  margin-bottom: 52px;
  display: flex;
  justify-content: center;
  gap: 52px;
  max-width: var(--max-w-container);
  border-radius: 24px;
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-bg-card);
  backdrop-filter: blur(var(--bg-blur));
  padding: 32px 32px;
}

.italic {
  font-style: italic;
}

.main {
  flex: 5;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.4;
  color: var(--color-gray-500);
}

.main h1 {
  line-height: 1;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: var(--font-bold);
  font-style: italic;
  color: var(--color-text-highlight);
}

.right {
  flex: 2;
  width: 100%;
  background-color: var(--color-gray-200);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
