.wrapper {
  display: flex;
  gap: 6px;
  background-color: var(--color-gray-100);
  border-radius: 8px;
  padding: 0;
  margin: 0;
  padding: 8px 12px;
  align-items: center;
  justify-content: center;
}

.tabTitle {
  font-size: 0.8rem;
  font-weight: var(--font-bold);
}

.tabCloseBtn {
  align-self: center;
  border-radius: 50%;
  color: var(--white);
}

.tabCloseBtn:hover {
  background-color: var(--color-red-500);
  cursor: pointer;
}
