@font-face {
  font-family: "GeistVF";
  src: url(/public/fonts/GeistVF.woff2) format("woff2");
}

:root {
  /* Widthsw */
  --max-w-container: 1280px;

  /* Margins */
  --wrapper-margin: 72px auto;

  /* Colors */
  --color-bg-primary: hsl(0, 0%, 4%);
  --color-accent: hsl(255, 85%, 60%);

  /* --color-text-highlight: hsl(253, 100%, 81%); */
  --color-text-highlight: hsl(0, 0%, 60%);

  --color-bg-card: hsl(0, 0%, 5%);

  /* Secondary */
  --color-secondary-100: #ab96e9;
  --color-secondary-200: #b3a1eb;
  --color-secondary-400: #bcabed;
  --color-secondary-600: #c4b6f0;
  --color-secondary-800: #cdc0f2;

  --color-red-500: hsl(0, 85%, 50%);

  /* Whites and Blacks */
  --white: #f5f5f8;
  --black: hsl(0, 0%, 4%);

  /* Grays */
  --color-gray-100: #0d0d0d;
  --color-gray-200: #141414;
  --color-gray-300: #333333;
  --color-gray-400: hsl(0, 0%, 67%);
  --color-gray-500: hsl(0, 0%, 80%);

  /* Fonts */
  --font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-86: 86px;

  --font-heavy: 600;
  --font-bold: 500;
  --font-thin: 300;

  /* Transition */
  --text-color-transition: color 0.2s ease;

  /* Background Blur */
  --bg-blur: 24px;
  --bg-color-blur: hsla(0, 0%, 5%, 0.8);

  /* Breakpoints */
  --mobile: 480px;
  --tablet: 780px;
  --laptop: 1280px;

  /* Queries */
  --mobileAndSmaller: max-width(var(--mobile));
  --tabletAndSmaller: max-width(var(--tablet));
  --laptopAndSmaller: max-width(var(--laptop));
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: var(--white);
  letter-spacing: normal;
  line-height: 1.25rem;
  scroll-behavior: smooth;
}

body {
  line-height: 1.1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

#root,
#__next {
  isolation: isolate;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 0.55rem;
  background-color: var(--color-gray-100);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--color-gray-200);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}
