@font-face {
  font-family: "GeistVF";
  src: url(/public/fonts/GeistVF.woff2) format("woff2");
}

:root {
  /* Colors */
  --color-bg-primary: hsl(245, 90%, 5%);
  --color-accent: hsl(255, 85%, 60%);

  /* Secondary */
  --color-secondary-100: #ab96e9;
  --color-secondary-200: #b3a1eb;
  --color-secondary-400: #bcabed;
  --color-secondary-600: #c4b6f0;
  --color-secondary-800: #cdc0f2;

  /* Whites and Blacks */
  --white: hsl(250, 90%, 95%);
  --black: hsl(260, 50%, 8%);

  /* Grays */
  --color-gray-100: hsl(252deg, 16%, 15%);
  --color-gray-200: hsl(252deg, 15%, 25%);
  --color-gray-300: hsl(252deg, 10%, 40%);
  --color-gray-400: hsl(252deg, 9%, 45%);
  --color-gray-500: hsl(252deg, 8%, 50%);
  --color-gray-600: hsl(252deg, 12%, 55%);
  --color-gray-700: hsl(252deg, 14%, 66%);
  --color-gray-900: hsl(252deg, 25%, 88%);
  --color-gray-1000: hsl(252deg, 25%, 96%);

  /* Fonts */
  --font-geist-sans: "Geist Thin";

  --font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-heavy: 600;
  --font-bold: bold;
  --font-thin: 300;

  /* Transition */
  --text-color-transition: color 0.2s ease;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--white);
  letter-spacing: normal;
  line-height: 1.25rem;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

#root,
#__next {
  isolation: isolate;
}
