.wrapper {
  font-family: var(--font-family);
  background-color: var(--color-bg-primary);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.mainWrapper {
  padding: 0 32px;
  z-index: 1;
}

.backgroundGrid {
  width: calc(100% + 64px);
  margin-left: -32px;
  margin-right: -32px;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 0.6;
}
