.wrapper {
  /* !!!! Change to max-width !!!! */
  width: min(100%, var(--max-w-container));
  /* !!!! Change to max-width !!!! */
  background-color: var(--color-gray-100);
  border-radius: 24px;
  padding: 32px;
  margin: var(--wrapper-margin);
  border: 1px solid var(--color-gray-200);
}

.contactHeadWrapper h1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 24px;
  font-style: italic;
}

.contactHeadWrapper h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 4.5px;
  margin-bottom: 54px;
}

.contactStack {
  display: flex;
  gap: 32px;
}

.contactStack .contactForm {
  flex: 4;
  height: 620px;
  background-color: var(--color-gray-200);
  border-radius: 24px;
  padding: 32px;
}

.contactStack .dummy {
  flex: 1;
  height: 620px;
  background-color: var(--color-gray-200);
  border-radius: 24px;
}

.contactStack .handles {
  flex: 1;
  height: 620px;
  background-color: var(--color-gray-200);
  border-radius: 24px;
}

.formWrapper {
  color: var(--color-gray-500);
}

.contactForm form h3 {
  font-size: 1.2rem;
}

.formHeading {
  font-weight: var(--font-heavy);
  margin-bottom: 32px;
  color: var(--white);
}

.formFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.whoWrapper {
  display: flex;
  flex-direction: column;
}

.whoBtnWrapper {
  display: flex;
  gap: 72px;
  align-items: center;
  margin-bottom: 20px;
}

.whoBtn {
  display: flex;
  gap: 8px;
}

.whoBtn input {
  align-self: baseline;
}

.whoFieldWrapper {
  display: flex;
  flex-direction: column;
}

.whoField {
  display: flex;
  flex-direction: column;
}

.formWrapper input {
  color: var(--white);
  background-color: transparent;
  border: none;
  outline: none;
}

.whoWrapper h3 {
  margin-bottom: 24px;
}

.whoField input {
  border-bottom: 1px solid var(--color-gray-300);
  padding: 24px 12px 12px 0;
}

.whyFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.whyFieldWrapper input {
  padding: 24px 12px 12px 0;
  border-bottom: 1px solid var(--color-gray-300);
}

.submitWrapper {
  width: inherit;
  display: flex;
}

.submitBtn {
  background-color: transparent;
  padding: 12px 32px;
  border-radius: 4px;
  border: 2px solid var(--color-gray-300);
  color: var(--color-gray-500);
  align-self: flex-end;
  margin-left: auto;
}

.submitBtn:hover {
  background-color: var(--color-gray-100);
  cursor: pointer;
}
