.movingBorderBox {
  width: inherit;
  height: inherit;
  position: relative;
  z-index: 1;
  margin-left: auto;
}

.movingBorderBox::before,
.movingBorderBox::after {
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(
    var(--gradient-angle),
    var(--color-gray-300) 50%,
    var(--color-gray-500) 100%
  );
  border-radius: 4px;
  animation: rotation 5s linear infinite;
  z-index: -1;
}

.movingBorderBox::after {
  filter: blur(0.3rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}
